@tailwind base;
@tailwind components;
@tailwind utilities;

.xxx{
    display: none;
}
.cont11{
    width: 50%;
}
.slick-track{
    display: flex;
    gap: 15px;
}

@media (max-width: 1200px) {
    .tituloPrincipal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Conteiener-SECCION-1{
        flex-direction: column;
        align-items: center;
        gap: 100px;
        margin: 15px;
    }
    .cont1{
        display: none;
    }
    .cont2{
        display: none;
    }
    .cont3{
        display: none;
    }
    .cont4{
        width: 100%;
    }
    .cont5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cont6{
        justify-content: center;
    }
    .cont7{
        width: 100%;
        justify-content: center;
    }
    .cont12{
        display: none;
    }
    .cont11{
        width: 100%;
        margin-top: 40px;
    }
    .cont13{
        width: 100%;
    }
    .cont14{
        width: 100%;
    }
    .cont15{
        padding: 64px 50px;
    }
    .con{
        justify-content: center;
    }
    .text-centerr{
        text-align: center;
    }
    .xx{
        display: none;
    }
    .title-perfi3{
        text-align: center;
    }
    .container-SECCION-2{
    margin-left: 25px;
  margin-right: 25px;
  padding: 30px;
  margin-top: 100px;
 }
 .xxx{
    display: block;
 }
 .conteiner-SECCION-3{
 margin: 0 20px;
 }
 .conteiner{
    flex-direction: column;
 }
 .conteiner-SECCION-4{
    margin: 80px 25px;
    }

}